form {
    display: flex;
    gap: 1rem;

    & input {
        font: var(--paragraph);
        color: var(--content-tertiary);
        width: 100%;
        border-radius: 0.75rem;
        border: 2px solid var(--border-primary);
        background-color: var(--always-white);
        padding: 0.75rem;

        &:hover {
            border-color: var(--border-hover);
        }

        &:focus {
            outline-color: var(--color-brand);
            color: var(--content-primary);
        }

        &::placeholder {
            color: var(--content-tertiary);
        }
    }

    & button {
        font: var(--label);
        color: var(--always-white);
        width: 40%;
        border-radius: 0.75rem;
        border: transparent;
        background-color: var(--color-brand);
        padding: 0.75rem;

        &:hover {
            background-color: var(--color-brand-hover);
        }
    }
}

@media (width < 30em) {
	form {
		display: grid;

        & button {
            width: 100%;
        }
	}
}