* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Inter", serif;

    --title: 700 1.5rem/2rem var(--font-family);
    --label: 600 1rem/1.25rem var(--font-family);
    --paragraph: 400 1rem/1.25rem var(--font-family);
    --link: 400 0.875rem/1rem var(--font-family);

    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
}

body {
    background-color: var(--background-primary);
}

h1 {
    font: var(--title);
    color: var(--content-secondary);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.hidden {
    display: none;
}